.todo-container {
	width: 30%;
	margin-top: 10%;
}

h1 {
	text-align: center;
	color: blue;
}

.todo-list-container {
	padding-right: 4px;
	max-height: 218px;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
